body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px 1fr 1fr 1fr;
    text-align: center;
    place-items: center;
}

h1{
    grid-column: 1/2;
    grid-row: 1/2;
}

nav{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;

}

.image-container{
    grid-column: 1/2;
    grid-row: 3/4;
}

.submenu-container{
    visibility: hidden;
}

.menu:hover .submenu-container {
    visibility: visible;
}

.image-container{
    height: 30vh;
    width: 25vw;
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: center;
}

.active,
.gallery-button:hover {
  background-color: gray;
}